body.light {
    --primary: hsl(5, 74%, 59%);
    --secondary: hsl(221, 87%, 60%);
    --bg: hsl(230, 1%, 98%);
    --textTitle: hsl(301, 63%, 40%);
    --textNormal: hsl(230, 8%, 24%);
    --textBold: hsl(230, 1%, 0%);
    --header: hsl(230, 1%, 0%);
    --textLinkHover: hsl(41, 99%, 30%);
    --textLink: hsl(41, 99%, 38%);
    --hr: hsl(198, 99%, 37%);
}

body.dark {
    -webkit-font-smoothing: antialiased;
    --primary: hsl(355, 65%, 65%);
    --secondary: hsl(207, 82%, 66%);
    --bg: hsl(220, 13%, 18%);
    --textTitle: hsl(286, 60%, 67%);
    --textNormal: hsl(220, 14%, 71%);
    --textBold: hsl(220, 1%, 100%);
    --header: hsl(220, 1%, 100%);
    --textLink: hsl(39, 67%, 69%);
    --textLinkHover: hsl(29, 54%, 61%);
    --hr: hsl(187, 47%, 55%);
}
p, div {
    color: var(--textNormal);
}
h1 {
    color: var(--textTitle);
}
h2,
h3,
h4,
h5,
h6 {
    color: var(--header);
}
body {
    background: var(--bg);
}
a {
    color: var(--textLink);
}
b, strong {
    color: var(--textBold);
}
a:hover {
    color: var(--textLinkHover);
}
hr {
    border: none;
    height: 1px;
    background-color: var(--hr);
    color: var(--hr);
}
body * {
    transition: color 0.5s linear, background-color 0.5s linear !important;
}
