.header {
    background: none;
    margin-bottom: 1.45rem;
}

.div {
    margin: 0 auto;
    max-width: 800px;
    padding: 1.45rem 1.0875rem;
}

.h1 {
    display: inline-block;
    margin: 0;
}

.Link {
    font-weight: 700 !important;
    text-decoration: none;
}
