.header {
    background: none;
    margin-bottom: 1.45rem;
}

.div {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}

.h1 {
    margin: 0
}

.Link {
    color: black;
    text-decoration: none;
}