/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

body.dark code[class*="language-"],
body.dark pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
body.dark pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

body.dark :not(pre) > code[class*="language-"],
body.dark pre[class*="language-"] {
    background: #2b2b2b;
}

/* Inline code */
body.dark :not(pre) > code[class*="language-"] {
    padding: 0.5em;
    border-radius: 0.3em;
    white-space: normal;
}

body.dark .token.comment,
body.dark .token.prolog,
body.dark .token.doctype,
body.dark .token.cdata {
    color: #d4d0ab;
}

body.dark .token.punctuation {
    color: #fefefe;
}

body.dark .token.property,
body.dark .token.tag,
body.dark .token.constant,
body.dark .token.symbol,
body.dark .token.deleted {
    color: #ffa07a;
}

body.dark .token.boolean,
body.dark .token.number {
    color: #00e0e0;
}

body.dark .token.selector,
body.dark .token.attr-name,
body.dark .token.string,
body.dark .token.char,
body.dark .token.builtin,
body.dark .token.inserted {
    color: #abe338;
}

body.dark .token.operator,
body.dark .token.entity,
body.dark .token.url,
body.dark .language-css .token.string,
body.dark .style .token.string,
body.dark .token.variable {
    color: #00e0e0;
}

body.dark .token.atrule,
body.dark .token.attr-value,
body.dark .token.function {
    color: #ffd700;
}

body.dark .token.keyword {
    color: #00e0e0;
}

body.dark .token.regex,
body.dark .token.important {
    color: #ffd700;
}

body.dark .token.important,
body.dark .token.bold {
    font-weight: bold;
}
body.dark .token.italic {
    font-style: italic;
}

body.dark .token.entity {
    cursor: help;
}

@media screen and (-ms-high-contrast: active) {
    body.dark code[class*="language-"],
    body.dark pre[class*="language-"] {
        color: windowText;
        background: window;
    }

    body.dark :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
        background: window;
    }

    body.dark .token.important {
        background: highlight;
        color: window;
        font-weight: normal;
    }

    body.dark .token.atrule,
    body.dark .token.attr-value,
    body.dark .token.function,
    body.dark .token.keyword,
    body.dark .token.operator,
    body.dark .token.selector {
        font-weight: bold;
    }

    body.dark .token.attr-value,
    body.dark .token.comment,
    body.dark .token.doctype,
    body.dark .token.function,
    body.dark .token.keyword,
    body.dark .token.operator,
    body.dark .token.property,
    body.dark .token.string {
        color: highlight;
    }

    body.dark .token.attr-value,
    body.dark .token.url {
        font-weight: normal;
    }
}