/*

Name:       Base16 Atelier Sulphurpool Light
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
body.light code[class*="language-"],
body.light pre[class*="language-"] {
    font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: #f0f5ff;
    color: #5e6687;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #dfe2f1;
}

body.light pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
body.light code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #dfe2f1;
}

/* Code blocks */
body.light pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

/* Inline code */
body.light :not(pre) > code[class*="language-"] {
    padding: .5em;
    border-radius: .3em;
}

body.light .token.comment,
body.light .token.prolog,
body.light .token.doctype,
body.light .token.cdata {
    color: #898ea4;
}

body.light .token.punctuation {
    color: #5e6687;
}

body.light .token.namespace {
    opacity: .7;
}

body.light .token.operator,
body.light .token.boolean,
body.light .token.number {
    color: #c76b29;
}

body.light .token.property {
    color: #c08b30;
}

body.light .token.tag {
    color: #3d8fd1;
}

body.light .token.string {
    color: #22a2c9;
}

body.light .token.selector {
    color: #6679cc;
}

body.light .token.attr-name {
    color: #c76b29;
}

body.light .token.entity,
body.light .token.url,
body.light .language-css .token.string,
body.light .style .token.string {
    color: #22a2c9;
}

body.light .token.attr-value,
body.light .token.keyword,
body.light .token.control,
body.light .token.directive,
body.light .token.unit {
    color: #ac9739;
}

body.light .token.statement,
body.light .token.regex,
body.light .token.atrule {
    color: #22a2c9;
}

body.light .token.placeholder,
body.light .token.variable {
    color: #3d8fd1;
}

body.light .token.deleted {
    text-decoration: line-through;
}

body.light .token.inserted {
    border-bottom: 1px dotted #202746;
    text-decoration: none;
}

body.light .token.italic {
    font-style: italic;
}

body.light .token.important,
body.light .token.bold {
    font-weight: bold;
}

body.light .token.important {
    color: #c94922;
}

body.light .token.entity {
    cursor: help;
}

body.light pre > code.highlight {
    outline: 0.4em solid #c94922;
    outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
body.light .line-numbers .line-numbers-rows {
    border-right-color: #dfe2f1;
}

body.light .line-numbers-rows > span:before {
    color: #979db4;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
body.light .line-highlight {
    background: rgba(107, 115, 148, 0.2);
    background: -webkit-linear-gradient(left, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
    background: linear-gradient(to right, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
}
